body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(/static/image-what-is-phishing-hero.jpg);
    background-size: cover;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
}

#result {
    margin-top: 20px;
}
